{{#each this}}
  <div class='photo-card'><a class='img__link' href='{{largeImageURL}}'><img
        class='image'
        src={{webformatURL}}
        alt=''
        loading='lazy'
      /></a>
    <div class='info'>
      <p class='info-item'>
        Likes
        <b class='text'>{{likes}}</b>
      </p>
      <p class='info-item'>
        Views
        <b class='text'>{{views}}</b>
      </p>
      <p class='info-item'>
        Comments
        <b class='text'>{{comments}}</b>
      </p>
      <p class='info-item'>
        Downloads
        <b class='text'>{{downloads}}</b>
      </p>
    </div>
  </div>
{{/each}}
